<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Alejandro Jodorowsky Prullansky Best known for his 1970s films El Topo and The Holy Mountain, Jodorowsky has been
         "venerated by cult cinema enthusiasts" for his work which "is filled with violently surreal images and a hybrid blend
          of mysticism and religious provocation"</p>

          <a href="/home">Go back</a>
          <a href="/about">About</a>
</body>
</html>